@{
    ViewData["Title"] = "Teste";
}

<div class="row">
    <div class="col-md-12">
        <h2>Olá!</h2>
        <p>
            Você deverá apresentar o resultado do teste nesta View.
        </p>
    </div>
</div>
